fastapi==0.100.0
uvicorn==0.23.0
pydantic==1.10.9
pyjwt==1.7.1
fastapi-jwt-auth==0.5.0
python-dotenv==1.0.0
sqlalchemy==2.0.20
psycopg2
passlib
python-multipart
celery
pandas
redis>=5.0.0,<6.0.0
kombu>=5.0.0,<6.0.0
scipy
pytest-mock